.first-line {
   
      color: lightblue;
      opacity:0.2;
      background: blue;
      padding: 40px;
      font-size:90px;
      text-align:center;
    }
    .second-line {
      color: lightblue;
      opacity:0.6;
      background: blue;
      padding: 20px;
      font-size:90px;
      text-align:center;
    }

    .second-line:hover {
      background: lightblue;
    }
    .second-line:active {
      background: lightblue;
    }
    .extra-padding {
      padding: 60px;
    }
.third-line {
   
      color: lightblue;
      background: blue;
      opacity:0.9;
      padding: 40px;
      font-size:90px;
      text-align:center;
    }
