body {
   font-family:Helvetica;
   padding:50px;
   font-size:130pt;

background{
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
};

*{box-sizing:border-box}

block{
    width: 200px;
   -webkit-column-count:3;
    -moz-column-count:3;     
}

.column{
    background: black;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    justify-content: left;      
}
.centering-element{
display:flex;
justify-content:center;
align-items:right;
width:1000px;
height:500px;
background:black;